body{
    background : linear-gradient(black, green);
}

.circle{  
    color: liner-gradient(rgb(209, 124, 209),rgb(245, 245, 96));
    align-items: center;
    margin: 100px;
    justify-content: center;
    clip-path: circle(100px);
}

button{
    justify-self: center;
    left: -100px;
}

button:hover{
    color: teal;
    text-decoration: underline;
    font-family: cursive;
}